<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FireGento\WebapiMetrics\Api\ConfigInterface" type="FireGento\WebapiMetrics\Model\Config" />

    <type name="Magento\Framework\App\ResponseInterface">
        <plugin name="hackathon-rest-metrics"
                type="FireGento\WebapiMetrics\Plugin\ResponsePlugin"
        />
    </type>
</config>
