<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi">
            <group id="firegento_restapi_metrics" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Firegento REST API</label>
                <field id="logging_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enable REST Metrics Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable logging metadata of Web API requests.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
